body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7f8fa;
    color: #333;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex-basis: 33%; /* ここを変更して、サイドバーをページの横幅の1/3に設定 */
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto; /* サイドバーのコンテンツが多くなった場合のスクロールを可能に */
}

.profile-photo {
    width: 80%; /* 写真のサイズをサイドバーに合わせて調整 */
    border-radius: 50%;
    margin: 0 auto 20px; /* 中央揃えにして、下にマージンを追加 */
    display: block;
}

.social-links a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    text-align: center; /* SNSリンクを中央揃えに */
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}

h1, h2 {
    font-weight: normal;
    color: #333;
}

section + section {
    margin-top: 40px;
}

/* スクロールバーのスタイルをカスタマイズ */
.main-content::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.main-content::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track {
    background: transparent;
}
